// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.counters{
    margin-right: 30px;
    font-size: 10px;
    text-align: center;
    strong{
        display: block;
        font-size: 2em;
    }
    .vote , .answer {
        width: 60px;
        height:60px;
    }
    .status{
        &.unanswered{
            border:none;
        }
        &.answered{
            border:1px solid $green_color;
            color: $green_color;
        }
        &.answer-accepted{
            background-color: $green_color;
            color: $white_color;
        }
    }
    .view{
        margin-top: 10px;
    }
}
.vote-controls{
    min-width: 60px;
    text-align: center;
    margin-right: 30px;
    color: $gray-700;
    span , a{
        display: block;
    }
    span{
        &.votes-count{
            font-size: 25px;
        }
        &.favorite-count{
            font-size: 12px;
        }
    }
    a{
        cursor: pointer;
        color: $gray-600;
        &.off , &.off:hover{
            color: $gray-500;
            cursor: default;
        }
        &.favorited {
            color: $warning;
        }
        &.vote-accepted{
            color: $green;
        }
    }
}
.post{
    padding: 20px 0;
    &:not(:last-child){
        border-bottom: 2px solid $gray-300;
    }
}
[v-cloak]{
    display: none;
}
